/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil')

html, body
    height: 100%
    width: 100%
    padding: 0
    margin: 0

.example-spacer
    flex: 1 1 auto


.my_primary_toolbar.mat-toolbar 
    min-height: 40px
    .mat-toolbar-row
        height: 40px

.my_second_toolbar.mat-toolbar 
    background: rgba(255, 255, 255, 1)



@-webkit-keyframes uil-ring-anim 
  0% 
    -ms-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
  
  100% 
    -ms-transform: rotate(360deg)
    -moz-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)
  

@-webkit-keyframes uil-ring-anim 
  0% 
    -ms-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
  
  100% 
    -ms-transform: rotate(360deg)
    -moz-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)
  

@-moz-keyframes uil-ring-anim 
  0% 
    -ms-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
  
  100% 
    -ms-transform: rotate(360deg)
    -moz-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)
  

@-ms-keyframes uil-ring-anim 
  0% 
    -ms-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
  
  100% 
    -ms-transform: rotate(360deg)
    -moz-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)
  

@-moz-keyframes uil-ring-anim 
  0% 
    -ms-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
  
  100% 
    -ms-transform: rotate(360deg)
    -moz-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)
  

@-webkit-keyframes uil-ring-anim 
  0% 
    -ms-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
  
  100% 
    -ms-transform: rotate(360deg)
    -moz-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)
  

@-o-keyframes uil-ring-anim 
  0% 
    -ms-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
  
  100% 
    -ms-transform: rotate(360deg)
    -moz-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)
  

@keyframes uil-ring-anim 
  0% 
    -ms-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
  
  100% 
    -ms-transform: rotate(360deg)
    -moz-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)
  

.uil-ring-css 
  background: none
  position: relative
  width: 100%
  display: flex
  -webkit-align-items: center
  align-items: center
  -webkit-justify-content: center
  justify-content: center

.uil-ring-css > div 
  width: 100px
  height: 100px
  top: 0
  left: 0
  border-radius: 70px
  box-shadow: 0 2px 0 0 #d1d1d1
  -ms-animation: uil-ring-anim 1s linear infinite
  -moz-animation: uil-ring-anim 1s linear infinite
  -webkit-animation: uil-ring-anim 1s linear infinite
  -o-animation: uil-ring-anim 1s linear infinite
  animation: uil-ring-anim 1s linear infinite

.w3-allerta 
  font-family: "Allerta Stencil", Sans-serif